* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Layout */
body {
  background-image: url("../img/background.webp");
  background-size: cover;
  background-position: 50%;
  min-height: 100vh;
}
